<div class="span6 offset3 text-center boxy">
	<div class="custom-font">

<h2 class="cool-font-small">Upload Your Stuff</h2>

<%= simple_form_for @pic do |f| %>
	<%= f.input :hour, label: 'Which Hour', placeholder: 'Enter the hour' 	 %>
	<%= f.input :image, :as => :file %>
	<%= f.input :emotion, label: 'How did you feel?', placeholder: 'Happy, Stoked, Awesome, Angry'%>
	<%= f.input :learned, label: 'What did you learn?', placeholder: 'CSS3, HTML5, Rails, Ruby, Console, Terminal, Heroku, Github, Postgres', :input_html => {rows: '3'} %>

	
	<%= link_to 'Cancel', pics_path, :class => 'btn btn-large' %>
	<%=submit_tag 'Submit', :class =>
	  'btn btn-warning btn-large' %> 
  <% end %>
</div>